@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100svh;
  width: 100%;
  @apply text-sm;
  @apply bg-white;
  @apply dark:bg-black;

}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 18px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #18181B;
    border-radius: 100vh;
    border: 3px solid #ffffff;
  }
}