@tailwind base;
@tailwind components;
@tailwind utilities;
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100svh;
  width: 100%;
  @apply bg-gray-500;
  @apply text-gray-900;
  @apply dark:bg-gray-50;
  @apply text-gray-50;
  @apply text-sm;
}